.red-heart {
  color: red;
}

.list-container{
  width: 100%;
  overflow-x:scroll;
  overflow-y:hidden;
  
}
.scrollable-content{
  overflow-x:scroll;
}
.headshot{
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.name-text{
  text-align: center;

}
*:focus {
    outline:none;
}
.follower:hover{
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #FF5403;
}
.follower {
  background-color: none;
}

.highlight{  
/*  background-color: #F06831;
  border-radius: 60px;*/
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #4ED2F9;
}
i {
  color: #656565;
}

/*Relative to the article cards*/
md-list-item.md-no-proxy{
  padding: 8px;
}
.article-title-container:hover{
  background-color: green
}
.flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}
.flexbox-container > div {
	padding: 5px;
}
.article-thumbnail-container{
  float: left;

}
.article-thumbnail{
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
}
.article-title-container{
  width: 100%;
  font-weight: bold;
}
.article-comment-container{
  font-weight: normal;
}
.article-information-container{
  padding: 5px;
}
.underline{
  width: 100%
  height: 2px;
  border-bottom: 1px solid #aaa;
}

/*New design with cards*/
.article-image{
  height: 100px;
  width: 100px;
  float: right;
  border-radius: 50%;
  overflow: hidden;
}

a {
  color:black;
}

a:visited {
    color: #787878;
}

.article-highlight{
  border-left-width: 4px;
  border-left-color: #FF6533;
  border-left-style: solid;
}

