#list-container{
  width: 100%;
  overflow-x:scroll;
  overflow-y:hidden;
}
.headshot{
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.name-text{
  text-align: center;
}
*:focus {
    outline:none;
}
.follower:hover{
  background-color: grey;
}
.follower {
  background-color: none;
}
.highlight{
  background-color: yellow;
}

/*Relative to the article cards*/
md-list-item.md-no-proxy{
  padding: 5px;
}
.flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}
.flexbox-container > div {
	padding: 5px;
}
.article-thumbnail-container{
  float: left;

}
.article-thumbnail{
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
}
.article-information-container{
  font-weight: bold;
}
.underline{
  border-bottom: 1px solid #aaa;
}
