@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular')
}

md-sidenav.md-locked-open {
  width: 400px;
  min-width: 400px;
  max-width: 400px;
}
.test{
  height: 700px;
  overflow: scroll;
}
#mainBody{
  ovßerflow: hidden;
}
#content{
  height: 700px;
  overflow: scroll;
}
#side-pane-column{
  padding-left: 10px;
}
.noozTitle {
  text-align: center;
  font-size: 80px;
  /*padding-left: 8px;*/
  color: black;
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  left: 42%;

}

.toolbar {
  float: right;
  padding-top: 68px;
  min-height: 123px;
}
.md-button.toolbar-button-selected{
   font-weight: bold;
}
.groupX {
    font-size: 20px;
    /*margin: 20px 0;*/
    padding: 3px 15px 3px 15px;
    color: rgb(49, 46, 46);
    text-transform: none;
    font-weight: 400;
    min-width:100px;
}
.md-button.left {
    border-radius: 10px 0 0 10px;
}
.md-button.middle {
    border-radius: 0;
    border-left: 1px solid rgba(230, 230, 230, 0.96);
    border-right: 1px solid rgba(230, 230, 230, 0.96);
}
.md-button.right {
    border-radius: 0 10px 10px 0;
}
.md-button:not([disabled]):hover {
    background-color: rgba(193, 193, 193, 0.96);
    color: rgba(44, 65, 164, 0.96);
    transition: 0.3s;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
