<!DOCTYPE html>
<html>
  <head> 
    <!-- <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> -->
  </head>
  <body>
   <h1> Registered Users </h1>
    <md-list>
      <md-list-item ng-repeat="user in main.users">
        <div class="md-list-item-text user-list" layout="column" ng-click="main.followUser(user.$id)">
            {{user.profile.first_name}} {{user.profile.last_name}}
         </div>
      </md-list-item>
    </md-list>

    <h2> Currently Following </h1>
    <md-list>
      <md-list-item ng-repeat="curator in main.curators">
        <div class="md-list-item-text user-list" layout="column">
            {{main.users.$getRecord(curator.$value).profile.first_name}} {{main.users.$getRecord(curator.$value).profile.last_name}}
         </div>
      </md-list-item>
    </md-list>
  </body>
</html>