<!DOCTYPE html>
<html>
  <head> 
    <!-- <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> -->
  </head>
  <body>
   <h1> Click to Follow </h1>

    <div id="list-container">
      <md-grid-list md-cols="4" md-row-height="200px">
        <md-grid-tile ng-repeat="user in main.leftToFollow">
          <span class="md-list-item-text follower" ng-click="main.followUser(user.$id)" ng-class="main.highlight($index)">
            <img ng-src="images/Calum.png" class="headshot"/>
            <div class="name-text">{{user.profile.first_name}}</div>
            <div class="name-text">{{user.profile.last_name}}</div>
          </span>
        </md-grid-tile>
      </md-list>
    </div>

    <h1> Currently Following </h1>
    <div id="list-container">
      <md-grid-list md-cols="4" md-row-height="200px">
        <md-grid-tile ng-repeat="curator in main.curators">
          <span class="md-list-item-text follower">
            <img ng-src="images/Calum.png" class="headshot"/>
            <div class="name-text">{{main.users.$getRecord(curator.$value).profile.first_name}}</div>
            <div class="name-text">{{main.users.$getRecord(curator.$value).profile.last_name}}</div>
          </span>
        </md-grid-tile>
      </md-list>
    </div>

  </body>
</html>