<h1 style = "padding-left: 16px">Curators to Follow</h2>
<div class='md-padding' layout="row" layout-wrap>
   <md-card style="width: 300px;" ng-repeat="user in main.leftToFollow">
      <img ng-src="images/{{user.profile.first_name}}.png" class="headshot-large"/>
      <md-card-content>
        <h2 class="name-text">{{user.profile.first_name}} {{user.profile.last_name}}</h2>
        <p>{{user.profile.user_description}} </p>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
         <md-button ng-click="main.followUser(user.$id)" ng-class="main.highlight($index)">Follow</md-button>
      </div>
   </md-card>
</div>

<h1 style = "padding-left: 16px"> Currently Following </h2>
<div class='md-padding' layout="row" layout-wrap>
   <md-card style="width: 300px;" ng-repeat="curator in main.curators">
      <img ng-src="images/{{main.users.$getRecord(curator.$value).profile.first_name}}.png" class="headshot-large"/>
      <md-card-content>
         <h2 class="name-text">{{main.users.$getRecord(curator.$value).profile.first_name}} {{main.users.$getRecord(curator.$value).profile.last_name}}</h2>
         <p>{{main.users.$getRecord(curator.$value).profile.user_description}} </p>
      </md-card-content>
   </md-card>
</div>
