#list-container{
  width: 100%;
  height: 700px;
  overflow-y:scroll;
}
h2{
  margin: 20px;
}
.headshot-large{
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto
}
.name-text{
  text-align: center;
}
*:focus {
    outline:none;
}
.follower:hover{
  background-color: grey;
}
.follower {
  background-color: none;
}
.highlight{
  background-color: yellow;
}
i {
  color: #656565;
}

/*Relative to the article cards*/
md-list-item.md-no-proxy{
  padding: 15px;
}

.form-group {
  border-radius: 2px;
  width: 200px;
  box-shadow: none;
}
