<!DOCTYPE html>
<html>
  <head> 
    <!-- <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> -->
  </head>
  <body>
    <h1 style = "padding-left: 16px">Post an Article</h1>
    <div class="formpage">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2" >

            <form ng-submit="addArticle()" style="margin-top:30px;" >
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Link" ng-model="main.articleLink"></input>
              </div>
              <div class="form-group">
               <textarea rows="3" wrap="hard" class="form-control" placeholder="Comment" ng-model="main.articleComment"></textArea>
              </div>
              <md-button class="md-raised" ng-click="addArticle()">Post</md-button>
            </form>
            <p ng-show="main.loading">Posting...</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>