.article {
    color:white;
    margin: 40px;
    font-family: Lato;
}

.articleContainer{
    background-color:#39373a;

}

.articleTitle {
    color: white;
    font-size: 45px;
    margin: 40px;
    text-align: center;
    font-family: Lato;
}