.article {
    margin: 40px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}
.container {
    background-color: white;
}
.back-button {
    color: #FFFFFF;
    background-color:#F06831;
}

.button-container{
    margin-top: 10px;
    margin-bottom: -30px;
    margin-left:30px;
    background-color:white;
}
.articleContainer{
	 /*margin-left: 20px;*/
    background-color:white;
    padding-left: 80px;
    padding-right: 80px;
    border-left: solid;
    border-left-color: #D8D8D8;
    border-left-width: 2px;
    height: 700px;
    overflow: scroll;
}

.articleTitle {
    font-size: 45px;
    margin: 40px;
    text-align: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
