.profile-content {
    margin-left:40px;
}

.option:hover {
    width: 100%;
}

.option-title {
    padding:10px;
    font-size: 24px;
      font-family: Georgia, Times, 'Times New Roman', serif;
}

.option-title:hover {
    width: 90%;
    background: #F06831;
    padding:10px;
    border-radius: 2px;
}

.chosen{
   background: #F06831;
   width: 90%;
}