<body>
    <div class="profile-content">
        <h1 class="md-display-1 user-title">Profile</h1>

        <!-- Create the horizontal list of following users -->
        <div id="list-container">
          <md-list layout="column">
            <md-list-item ng-repeat="items in main.items" >
            <div class="option-title" ng-class="main.highlight($index)" ng-click="main.itemClicked($index)">
              <span class="md-list-item-text option" >
                {{items}}
              </span>
            </div>
            </md-list-item>
          </md-list>
        </div>
    </div>
</body>