<h1 class="md-display-1 user-title">My Posts</h1>

<!-- Create the horizontal list of following users -->
<div id="list-container">
  <md-list layout="row">
    <md-list-item ng-repeat="curator in main.curators">
      <span class="md-list-item-text follower" ng-click="main.followingClickHandler(curator.$value, $index)" ng-class="main.highlight($index)">
        <img ng-src="images/Calum.png" class="headshot"/>
        <div class="name-text">{{main.users.$getRecord(curator.$value).profile.first_name}}{{$index}}</div>
        <div class="name-text">{{main.users.$getRecord(curator.$value).profile.last_name}}</div>
      </span>
    </md-list-item>
  </md-list>
</div>

<!-- Create the individual article cards -->
 <md-card layout="row" ng-repeat="article in main.myArticles | orderBy: '-timestamp'">
  <img ng-src="{{article.images[0].url}}" class="md-card-image myarticle-image" alt="Washed Out">

  <div layout="column">
    <md-card-title>
      <md-card-title-text class="myarticle-title">
        <span >{{article.title}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content ng-show="main.mode == 'static' || main.editIndex != $index">
    <i class="material-icons" md-18>format_quote</i>
    <span class="article-comment">
      {{article.comment}}
    </span>
    <i class="material-icons" md-18>format_quote</i>

    <button class="md-raised md-button md-ink-ripple" type="button" aria-label="Edit Comment" ng-click="editComment(article.$id, $index)">
      <span>Edit Comment</span><div class="md-ripple-container"></div>
    </button>
    </md-card-content>

    <md-card-content ng-show="main.mode == 'edit' && main.editIndex == $index">
    <span>
      <input type="text" name="comment1" ng-model="main.currentText" required>
    </span>
    <button class="md-raised md-button md-ink-ripple" type="button" aria-label="Set Comment" ng-click="setComment(article.$id, comment1, $index)">
      <span>Set Comment</span><div class="md-ripple-container"></div>
    </button>
    </md-card-content>



  </div>

  <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-icon-button" ng-click="deleteArticle(article.$id)" aria-label="Favorite">
        <md-icon><i class="material-icons">clear</i></md-icon>
      </md-button>
  </md-card-actions>
</md-card>

<!-- <a ng-click="main.chevronClick(-1)"><i class="material-icons">chevron_left</i></a>
<a ng-click="main.chevronClick(1)"><i class="material-icons">chevron_right</i></a> -->
